<%= render "shared/second-header" %>
<div class='main'>
  <%# 作品一覧 %>
  <div class='art-contents'>
    <h2 class='title'>個展へようこそ</h2>
    <div class="subtitle" >
      <%# <% @artists.artist_id %>の作品 %>
    </div>
    <ul class='art-lists'>
      <% @arts.each do |art| %>
        <li class='list'>
          <%= link_to art_path(art.id) do %>
          <div class='art-img-content'>
            <%= image_tag art.image, class: "art-img" %>
          </div>
          <div class='art-name'>
            作品名：<%= art.art_name %>
          </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <%# /作品一覧 %>
</div>

<%= link_to(new_art_path, class: 'purchase-btn') do %>
    <span class='purchase-btn-text'>新規投稿</span>
    <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
<% end %>
<%= render "shared/second-footer" %>
